@model WebApplication1.Models.Records

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Records</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.averange_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.averange_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pool_prize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pool_prize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tie_break)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tie_break)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
